
h1{
    font-size: 45px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color:black;
    margin-bottom: 40px;
    color: #000;
    text-shadow: 0 2px 3px #555555;
    font-family: Tahoma;
  }
  
  
  .mapContainer{
    /* width: 100%;
    margin: 0 auto;
    margin-top:50px; */
    display: none;
  }

  #listDisplay{
      display:none;
  }
  
  #map_container{
    position: relative;
    height: 300;
  }
  #map{
      height: 300px !important;
      overflow: hidden;
      padding-bottom: 22.25%;
      padding-top: 30px;
      position: relative;
  }